<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>DBhash_</display-name>
	
	<servlet>
		<servlet-name>LoginCheck</servlet-name>
		<display-name>LoginCheck</display-name>
		<description></description>
		<servlet-class>LoginCheck</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>Register</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginCheck</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>login.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>page_s.jsp</welcome-file>
	</welcome-file-list>

</web-app>